{
  "compute": {
    "gcp_runtime_service_account_email": "terraform-runner@my-gcp-project-id.iam.gserviceaccount.com",
    "machine_type": "e2-micro",
    "boot_disk_gb": 10,
    "assign_public_ip": true,
    "enable_oslogin": false,
    "install_docker_compose": true,
    "vm_create_crapi": false,
    "vm_create_juice_shop": false
  },

  "bigip_base": {
    "image_name": "projects/f5-7626-networks-public/global/images/f5-bigip-21-0-0-0-0-10-payg-best-plus-25mbps-251104081529",
    "machine_type": "n2-highmem-4",
    "min_cpu_platform": "Intel Cascade Lake",
    "disk_type": "pd-ssd",
    "disk_size_gb": 120,
    "f5_username": "admin",
    "nic_count": "false",
    "asm": "nominal",
    "apm": "none"
  },
  "bigip_config": {
    "backend_compute": "true"
  },
  "features": {
    "bigip": true
  }
}
