{
  "compute": {
    "gcp_runtime_service_account_email": "terraform-runner@my-gcp-project-id.iam.gserviceaccount.com",
    "machine_type": "e2-medium",
    "boot_disk_gb": 20,
    "assign_public_ip": false,
    "enable_oslogin": false,
    "install_docker_compose": true,
    "vm_create_juice_shop": false,
    "vm_create_crapi": false,
    "vm_create_comfy_capybara": true,
    "vm_create_asle": true,
    "comfy_compose_artifact": "ghcr.io/knowbase/comfy-capybara-compose",
    "comfy_compose_tag": "0.3.0",
    "asle_tarball_gcs_uri": "gs://your-bucket/path/to/asle.tar",
    "asle_image_ref": "your-asle-repo:tag",
    "asle_management_port": 8000,
    "asle_telemetry_port": 0,
    "asle_machine_type": "e2-custom-2-4096",
    "asle_boot_disk_gb": 30
  },

  "bigip_base": {
    "image_name": "projects/f5-7626-networks-public/global/images/f5-bigip-21-0-0-0-0-10-payg-best-plus-25mbps-251104081529",
    "machine_type": "n2-highmem-4",
    "min_cpu_platform": "Intel Cascade Lake",
    "disk_type": "pd-ssd",
    "disk_size_gb": 120,
    "f5_username": "admin",
    "nic_count": "false",
    "asm": "nominal",
    "apm": "none"
  },
  "bigip_config": {
    "backend_compute": "true",
    "awaf_config_payload": "../config/uc3-config.json.tftpl",
    "app_server_port": 8080,
    "api_server_port": 8000
  },
  "features": {
    "bigip": true
  }
}
