{
  "features": {
    "gke": true,
    "k8s_ingress": true
  },
  "k8s": {
    "gcp_runtime_service_account_email": "",
    "release_channel": "REGULAR",
    "node_machine_type": "e2-standard-4",
    "node_count": 2,
    "node_disk_size_gb": 50,
    "node_disk_type": "pd-balanced",
    "master_ipv4_cidr_block": "172.16.0.0/28",
    "master_authorized_networks_extra": []
  },
  "ngf": {
    "namespace": "nginx-gateway",
    "chart_version": "2.6.4",
    "gatewayclass_name": "nginx",
    "nginx_plus_image_repository": "private-registry.nginx.com/nginx-gateway-fabric/nginx-plus",
    "nginx_plus_image_tag": "2.6.4",
    "gateway_api_crds_url": "https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.5.1/standard-install.yaml"
  }
}
