{
  "xc_base": {
    "xc_tenant": "my-tenant",
    "api_url": "https://my-tenant.console.ves.volterra.io/api",
    "xc_namespace": "demo-ns",
    "app_domain": "app.demo.example.com",
    "origin_server": "",
    "origin_port": "80",
    "backend_bigip": true,
    "xc_waf_blocking": true,
    "xc_app_type": [],
    "xc_multi_lb": false
  },
  "xc_features": {
    "xc_api_disc": false,
    "xc_api_pro": false,
    "xc_api_spec": null,
    "xc_api_val": false,
    "xc_api_val_all": false,
    "xc_api_val_active": false,
    "xc_resp_val_active": false,
    "xc_api_val_custom": false,
    "enforcement_block": false,
    "enforcement_report": false,
    "fall_through_mode_allow": false,
    "xc_jwt_val": false,
    "jwt_val_block": false,
    "jwt_val_report": false,
    "jwks": "app_domain",
    "iss_claim": false,
    "aud_claim": [""],
    "exp_claim": false,
    "xc_bot_def": false,
    "xc_ddos_pro": false,
    "xc_mud": false,
    "xc_data_guard": false
  }
}
