{
  "app": {
    "namespace": "comfy-capybara",
    "chart_repository": "oci://ghcr.io/knowbase/charts",
    "chart_name": "comfy-capybara",
    "chart_version": "0.1.0",
    "app_host": "comfy.example.com",
    "image_registry": "",
    "image_tag": "",
    "image_pull_secret_name": "",
    "vs_tls_enabled": false,
    "vs_tls_secret_name": "",
    "attach_waf_server_wide": true,
    "attach_waf_to_api_route": true
  }
}
