{
  "xc_base": {
    "xc_tenant": "my-tenant",
    "api_url": "https://my-tenant.console.ves.volterra.io/api",
    "xc_namespace": "demo-ns",
    "app_domain": "comfy.example.com",
    "origin_server": "",
    "origin_port": "80",
    "backend_bigip": false,
    "backend_nic": true,
    "xc_waf_blocking": true,
    "xc_app_type": [],
    "xc_multi_lb": false,
    "xc_byo_cert": false,
    "xc_byo_cert_name": "",
    "xc_byo_cert_namespace": "shared"
  },
  "xc_features": {
    "xc_api_disc": false,
    "xc_api_pro": false,
    "xc_api_spec": null,
    "xc_api_val": false,
    "xc_api_val_all": false,
    "xc_api_val_active": false,
    "xc_resp_val_active": false,
    "xc_api_val_custom": false,
    "enforcement_block": false,
    "enforcement_report": false,
    "fall_through_mode_allow": false,
    "xc_jwt_val": false,
    "jwt_val_block": false,
    "jwt_val_report": false,
    "jwks": "app_domain",
    "iss_claim": false,
    "aud_claim": [""],
    "exp_claim": false,
    "xc_bot_def": false,
    "xc_bot_def_advanced": false,
    "xc_bot_def_advanced_web_policy_name": "",
    "xc_bot_def_advanced_web_policy_namespace": "shared",
    "xc_ddos_pro": false,
    "xc_l7_ddos_rps_threshold": 100,
    "xc_slow_ddos": false,
    "xc_slow_ddos_request_headers_timeout": 10,
    "xc_slow_ddos_request_timeout": 60,
    "xc_ip_reputation": false,
    "xc_ip_threat_categories": [
      "SPAM_SOURCES",
      "WINDOWS_EXPLOITS",
      "WEB_ATTACKS",
      "BOTNETS",
      "SCANNERS",
      "DOS_ATTACKS",
      "PHISHING",
      "PROXY",
      "TOR_PROXY"
    ],
    "xc_threat_mesh": false,
    "xc_api_rate_limit": false,
    "xc_api_rate_limit_threshold": 100,
    "xc_api_rate_limit_unit": "MINUTE",
    "xc_api_rate_limit_base_path": "/",
    "xc_mud": false,
    "xc_data_guard": false,
    "xc_api_crawler": false,
    "xc_api_auth_discovery": false,
    "xc_client_side_defense": false,
    "xc_waf_exclusion": false,
    "xc_waf_exclusion_policy_name": "",
    "xc_waf_exclusion_policy_namespace": "shared",
    "xc_sensitive_data_policy": false,
    "xc_sensitive_data_compliances": []
  }
}
