{
  "gcp_project_id": "my-gcp-project-id",
  "gcp_region": "us-west1",
  "gcp_zone": "us-west1-a",

  "project_prefix": "demo",
  "resource_owner": "myName",

  "admin_src_addr": ["0.0.0.0/0"],

  "features": {
    "nap": false,
    "bigip": true,
    "bigip_cis": false,
    "nginx_ingress_controller": false
  },

  "compute": {
    "gcp_runtime_service_account_email": "terraform-runner@my-gcp-project-id.iam.gserviceaccount.com",
    "machine_type": "e2-micro",
    "boot_disk_gb": 10,
    "assign_public_ip": true,
    "enable_oslogin": false,
    "install_docker_compose": true,
    "vm_create_crapi": false,
    "vm_create_juice_shop": false
  },

  "bigip_base": {
    "image_name": "projects/f5-7626-networks-public/global/images/f5-bigip-17-1-2-0-0-8-payg-better-25mbps-241121080429",
    "machine_type": "n2-highmem-4",
    "min_cpu_platform": "Intel Cascade Lake",
    "disk_type": "pd-ssd",
    "disk_size_gb": 120,

    "f5_username": "admin",
    "ssh_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD... user@example",

    "nic_count": "true",
    "asm": "false",
    "apm": "false",

    "DO_URL": "https://github.com/F5Networks/f5-declarative-onboarding/releases/download/v1.34.0/f5-declarative-onboarding-1.34.0-5.noarch.rpm",
    "AS3_URL": "https://github.com/F5Networks/f5-appsvcs-extension/releases/download/v3.41.0/f5-appsvcs-3.41.0-1.noarch.rpm",
    "TS_URL": "https://github.com/F5Networks/f5-telemetry-streaming/releases/download/v1.32.0/f5-telemetry-1.32.0-2.noarch.rpm",
    "FAST_URL": "https://github.com/F5Networks/f5-appsvcs-templates/releases/download/v1.22.0/f5-appsvcs-templates-1.22.0-1.noarch.rpm",
    "INIT_URL": "https://cdn.f5.com/product/cloudsolutions/f5-bigip-runtime-init/v1.5.1/dist/f5-bigip-runtime-init-1.5.1-1.gz.run",

    "CFE_URL": "",
    "DO_VER": "",
    "AS3_VER": "",
    "TS_VER": "",
    "CFE_VER": "",
    "FAST_VER": ""
  },

  "bigip_config": {
    "backend_compute": false,
    "awaf_config_payload": "../config/awaf-config.json",
    "app_server_ip": ""
  },

  "xc": {
    "xc_tenant": "my-tenant",
    "api_url": "https://tenant.console.ves.volterra.io/api",
    "xc_namespace": "demo-ns",
    "app_domain": "app.demo.example.com",

    "backend_bigip": true,
    "backend_compute": false,

    "xc_waf_blocking": false,
    "xc_app_type": [],
    "xc_multi_lb": false,

    "xc_api_disc": false,
    "xc_api_pro": false,
    "xc_api_spec": null,
    "xc_api_val": false,
    "xc_api_val_all": false,
    "xc_api_val_active": false,
    "xc_resp_val_active": false,
    "xc_api_val_custom": false,

    "enforcement_block": false,
    "enforcement_report": false,
    "fall_through_mode_allow": false,

    "xc_jwt_val": false,
    "jwt_val_block": false,
    "jwt_val_report": false,
    "jwks": "app_domain",
    "iss_claim": true,
    "aud_claim": [""],
    "exp_claim": true,

    "xc_bot_def": false,
    "xc_ddos_pro": false,
    "xc_mud": false,

    "k8s_pool": false,
    "serviceName": "",
    "serviceport": 80,
    "advertise_sites": false,
    "http_only": false,
    "gke_site_name": "",
    "eks_site_name": "",

    "xc_data_guard": false,
    "xc_delegation": false,

    "origin_server": "",
    "origin_port": 80,
    "hybrid_genai": false
  }
}
