{
  "gcp_project_id": "my-gcp-project-id",
  "gcp_region": "us-west1",
  "gcp_zone": "us-west1-a",
  "project_prefix": "demo",
  "resource_owner": "myName",
  "admin_src_addr": [],
  "tf_state_bucket": ""
}
